{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/registrations/registration-5/assets/css/registration-5.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <style>
      .sign{
        color:#4F4F4F ;
      }

      .sign-icon:before {
        color:#4F4F4F ;

    }
    </style>
  </head>
<body>
  <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 sign">Sign in</p>
  
                  <form class="mx-1 mx-md-4" method="POST">
                      {% csrf_token %}
                    <div class="text-danger">
                        {{ form.non_field_errors }}
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw sign-icon"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        {{ form.username }}
                        <!-- errors -->
                        <small class="text-danger">{{ form.username.errors }}</small>
                        <!-- <input type="email" id="form3Example3c" class="form-control" placeholder="Your Email" name="last_name"/> -->
                        <!-- <label class="form-label" for="form3Example3c">Your Email</label> -->
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw sign-icon"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        {{ form.password }}
                        <small class="text-danger">{{ form.password.errors }}</small>
                        <!-- <input type="email" id="form3Example3c" class="form-control" placeholder="Your Email" name="last_name"/> -->
                        <!-- <label class="form-label" for="form3Example3c">Your Email</label> -->
                      </div>
                    </div>

                   
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                    
  
                  </form>
  
                  <div class="form-check d-flex justify-content-center mb-5">
                      <label class="form-check-label" for="form2Example3">
                          Not a member?
                          <a href="{% url 'accounts:register' %}">Register</a>
                        </label>
                    </div>
                </div>
                <div class="form-group text-center mb-0">
                  <button type="submit" class="theme-btn"> Login <i class="fas fa-arrow-right"></i></button>
                  {% comment %} <a class="btn btn-secondary" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa-brands fa-google"></i>
                  </a> {% endcomment %}
               
                </div>
                
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>